.u-block-8ec5-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-8ec5-3 {
  position: absolute;
  left: 0;
}

.u-block-8ec5-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/yokohama.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  animation-duration: 1500ms;
  font-family: FontsFree-Net-Lulo-Clean-W01-One-Bold;
  background-image: none;
  margin: 309px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-text-1 {
    text-transform: uppercase;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 23px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 516px;
}

.u-section-2 .u-text-1 {
  font-family: Monoton;
  font-size: 3.4375rem;
  margin: 86px 225px 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: FontsFree-Net-Lulo-Clean-W01-One-Bold;
  font-size: 3.4375rem;
  margin: -60px auto 0 212px;
}

.u-section-2 .u-text-3 {
  font-family: FontsFree-Net-Avenir-Light;
  font-size: 1.5rem;
  margin: 35px 44px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-left: 109px;
    margin-right: 109px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 169px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 159px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 106px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 100px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  font-family: FontsFree-Net-Lulo-Clean-W01-One-Bold;
  margin: 46px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: FontsFree-Net-Avenir-Light;
  font-size: 1.5rem;
  margin: 20px 11px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-weight: normal;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: url("images/businessman-looking-out-window.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 149px;
  }
} .u-section-5 {
  min-height: 1100px;
}

.u-section-5 .u-text-1 {
  font-family: FontsFree-Net-Lulo-Clean-W01-One-Bold;
  font-size: 3rem;
  margin: 40px 240px 0 754px;
}

.u-section-5 .u-text-2 {
  font-family: Monoton;
  font-size: 3rem;
  margin: -52px auto 0 calc(((100% - 1140px) / 2) + 487px);
}

.u-section-5 .u-text-3 {
  font-family: FontsFree-Net-Lulo-Clean-W01-One-Bold;
  font-size: 3rem;
  margin: -52px auto 0 calc(((100% - 1140px) / 2) + 299px);
}

.u-section-5 .u-text-4 {
  font-family: FontsFree-Net-Avenir-Light;
  background-image: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px calc(((100% - 1140px) / 2) + 20px) 0;
}

.u-section-5 .u-image-1 {
  width: 1060px;
  height: 580px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-text-5 {
  font-family: Anton;
  font-size: 2.25rem;
  margin: -580px 100px 0;
}

.u-section-5 .u-image-2 {
  width: 241px;
  height: 217px;
  margin: 359px calc(((100% - 1140px) / 2) + 141px) 0 auto;
}

.u-section-5 .u-image-3 {
  width: 312px;
  height: 186px;
  margin: -186px auto 0 calc(((100% - 1140px) / 2) + 117px);
}

.u-section-5 .u-text-6 {
  font-family: FontsFree-Net-Lulo-Clean-W01-One-Bold;
  font-size: 1.875rem;
  margin: 0 calc(((100% - 1140px) / 2) + 46px) 0 calc(((100% - 1140px) / 2) + 664px);
}

.u-section-5 .u-text-7 {
  font-family: FontsFree-Net-Lulo-Clean-W01-One-Bold;
  font-size: 1.875rem;
  margin: -66px calc(((100% - 1140px) / 2) + 652px) 0 calc(((100% - 1140px) / 2) + 57px);
}

.u-section-5 .u-text-8 {
  font-family: FontsFree-Net-Lulo-Clean-W01-One-Bold;
  font-size: 1.5rem;
  margin: 70px 80px 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1034px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 161px;
    margin-left: calc(((100% - 1140px) / 2) + 573px);
  }

  .u-section-5 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 399px);
  }

  .u-section-5 .u-text-4 {
    margin-top: -11px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 514px;
    margin-top: -18px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-5 .u-text-5 {
    margin-top: -465px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-5 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + 141px);
  }

  .u-section-5 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 117px);
  }

  .u-section-5 .u-text-6 {
    color: rgb(251, 0, 0) !important;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 510px);
  }

  .u-section-5 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2) + 509px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-text-8 {
    width: 431px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 914px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 463px);
  }

  .u-section-5 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 439px);
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 394px;
    margin-top: -49px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-5 .u-text-5 {
    margin-top: -314px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-5 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + 141px);
  }

  .u-section-5 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 117px);
  }

  .u-section-5 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 290px);
  }

  .u-section-5 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 289px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 816px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 373px);
  }

  .u-section-5 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 472px);
  }

  .u-section-5 .u-text-4 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 296px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-5 .u-text-5 {
    margin-top: -216px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-5 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + 141px);
  }

  .u-section-5 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 117px);
  }

  .u-section-5 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 110px);
  }

  .u-section-5 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 109px);
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 706px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 101px;
    margin-left: calc(((100% - 1140px) / 2) + 486px);
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 1140px) / 2) + 528px);
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 1140px) / 2) + 508px);
  }

  .u-section-5 .u-text-4 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 186px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-5 .u-text-5 {
    margin-top: -106px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-5 .u-image-2 {
    margin-right: calc(((100% - 340px) / 2) + 99px);
  }

  .u-section-5 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 28px);
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
    margin-top: -52px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-8 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 1551px;
}

.u-section-6 .u-image-1 {
  height: 548px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1107px;
  margin: -105px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 557px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 13px 0 0;
}

.u-section-6 .u-text-2 {
  font-family: FontsFree-Net-Avenir-Light;
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  font-style: normal;
  margin: 40px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 557px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 35px;
}

.u-section-6 .u-icon-2 {
  width: 76px;
  height: 76px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  line-height: 28.8px;
  margin: 12px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: FontsFree-Net-Avenir-Light;
  margin: 41px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 557px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 17px;
}

.u-section-6 .u-icon-3 {
  height: 76px;
  width: 76px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 13px 13px 0;
}

.u-section-6 .u-text-6 {
  font-family: FontsFree-Net-Avenir-Light;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  margin: 40px 13px 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 440px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-4 {
  height: 76px;
  width: 76px;
  background-image: none;
  color: rgb(44, 204, 196) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 13px 0 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.875rem;
  font-family: FontsFree-Net-Avenir-Light;
  font-weight: 700;
  margin: 83px 0 0;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 513px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 25px;
}

.u-section-6 .u-icon-5 {
  height: 76px;
  width: 76px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 13px 10px 0 0;
}

.u-section-6 .u-text-10 {
  font-family: FontsFree-Net-Avenir-Light;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 22px 5px 0;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 574px;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-icon-6 {
  height: 76px;
  width: 76px;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-11 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 13px 0 0;
}

.u-section-6 .u-text-12 {
  font-family: FontsFree-Net-Avenir-Light;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-6 .u-text-13 {
  font-family: Monoton;
  font-size: 3.75rem;
  margin: -1415px calc(((100% - 1140px) / 2) + 586px) 0 calc(((100% - 1140px) / 2) + 146px);
}

.u-section-6 .u-text-14 {
  font-family: FontsFree-Net-Lulo-Clean-W01-One-Bold;
  font-size: 1.25rem;
  margin: 20px 138px 0;
}

.u-section-6 .u-text-15 {
  font-family: FontsFree-Net-Lulo-Clean-W01-One-Bold;
  font-size: 4.125rem;
  margin: -116px calc(((100% - 1140px) / 2) + 110px) 2px calc(((100% - 1140px) / 2) + 418px);
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 1417px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 473px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 473px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 374px;
  }

  .u-section-6 .u-text-8 {
    font-style: normal;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 436px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    font-style: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 487px;
  }

  .u-section-6 .u-text-12 {
    font-style: normal;
  }

  .u-section-6 .u-text-13 {
    margin-right: calc(((100% - 940px) / 2) + 486px);
    margin-left: calc(((100% - 940px) / 2) + 46px);
  }

  .u-section-6 .u-text-14 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-6 .u-text-15 {
    margin-right: calc(((100% - 940px) / 2) + 10px);
    margin-left: calc(((100% - 940px) / 2) + 318px);
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 861px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-13 {
    margin-right: calc(((100% - 720px) / 2) + 312px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-15 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 108px);
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1061px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-13 {
    margin-right: calc(((100% - 540px) / 2) + 132px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-text-15 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-13 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-15 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-7 {
  background-image: url("images/pexels-photo-325185.jpeg");
  background-position: 50% 0%;
}

.u-section-7 .u-sheet-1 {
  min-height: 700px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  font-family: FontsFree-Net-Lulo-Clean-W01-One-Bold;
  font-size: 3rem;
  margin: 147px 97px 0;
}

.u-section-7 .u-text-2 {
  font-family: Monoton;
  font-size: 3rem;
  width: 460px;
  margin: 39px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 153px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  height: 158px;
  width: 218px;
  margin: -5px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 153px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-image-2 {
  width: 218px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 153px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 7px;
}

.u-section-7 .u-image-3 {
  width: 209px;
  left: 7px;
  right: auto;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 153px;
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 0;
}

.u-section-7 .u-image-4 {
  width: 218px;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 153px;
  background-image: none;
}

.u-section-7 .u-container-layout-5 {
  padding: 0 7px;
}

.u-section-7 .u-image-5 {
  height: 153px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-7 .u-image-1 {
    height: 136px;
    width: 188px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 126px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 126px;
  }

  .u-section-7 .u-image-5 {
    height: 124px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-image-5 {
    height: 246px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-7 .u-text-2 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 362px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 362px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 362px;
  }

  .u-section-7 .u-image-5 {
    height: 374px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 228px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 228px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 228px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 228px;
  }

  .u-section-7 .u-image-5 {
    height: 232px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-block-4d28-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-4d28-3 {
  position: absolute;
  left: 0;
}

.u-block-4d28-4 {
  position: absolute;
  right: 0;
}

 .u-section-8-1 {
  background-image: none;
}

.u-section-8-1 .u-sheet-1 {
  min-height: 898px;
}

.u-section-8-1 .u-text-1 {
  font-family: Monoton;
  font-size: 3.4375rem;
  margin: 57px 101px 0 667px;
}

.u-section-8-1 .u-text-2 {
  font-family: FontsFree-Net-Lulo-Clean-W01-One-Bold;
  font-size: 2.5rem;
  margin: -57px 487px 0 281px;
}

.u-section-8-1 .u-custom-html-1 {
  min-height: 637px;
  margin: 48px -368px 60px 368px;
}

@media (max-width: 1199px) {
  .u-section-8-1 .u-text-1 {
    margin-right: 1px;
    margin-left: 567px;
  }

  .u-section-8-1 .u-text-2 {
    margin-right: 387px;
    margin-left: 181px;
  }

  .u-section-8-1 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8-1 .u-text-1 {
    margin-right: 0;
    margin-left: 348px;
  }

  .u-section-8-1 .u-text-2 {
    margin-right: 277px;
    margin-left: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-8-1 .u-text-1 {
    margin-left: 168px;
  }

  .u-section-8-1 .u-text-2 {
    margin-right: 168px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-8-1 .u-text-2 {
    margin-right: 0;
    font-size: 1.5rem;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 250px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 187px;
}

.u-section-9 .u-container-layout-1 {
  padding: 5px 60px 25px;
}

.u-section-9 .u-text-1 {
  margin: 1px auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 187px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 42px;
}

.u-section-9 .u-social-icons-1 {
  height: 62px;
  min-height: 16px;
  width: 308px;
  min-width: 124px;
  margin: 0 67px 0 auto;
}

.u-section-9 .u-icon-1 {
  color: rgb(3, 155, 229) !important;
}

.u-section-9 .u-icon-2 {
  color: rgb(3, 169, 244) !important;
}

.u-section-9 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-9 .u-icon-4 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 154px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 118px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 120px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}@font-face {
  font-family: 'FontsFree-Net-Lulo-Clean-W01-One-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf);
}@font-face {
  font-family: 'FontsFree-Net-Avenir-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-Avenir-Light.ttf);
}